[Mysql]
host = 127.0.0.1
user = root
password =
charset = utf8

[maimai]
database = maimai
account = select maimai_account, maimai_password from sj_user
username = 1234567
password = 1234567
key = maimai1

[linkedin]
database = linkdin
account = select linkedin_account, linkedin_password from sj_user
username = 1124280842@qq.com
password = l10z10c14b12
key = linkdin1